.cardContainer {
    height: auto;
    padding: 0 0;
    padding: 1% 5%;
}
.heading{
    font-size: 1.5rem;
    font-weight: 600;
    color: rgb(0, 25, 79);
    text-align: center;
    padding: 20px 0px; 
}
.card {
    color: rgb(255, 255, 255);
    font-weight: 600;
    border: 1px solid whitesmoke;
    width: 190px;
    height: 270px;
    display: flex;
    flex-direction: column;
    padding: 2px;
    border-radius: 10px;
    background-color: rgba(0, 91, 156, 0.416);
    backdrop-filter: blur(5px);
}
.price{
    padding: 0 4px;
}

.name{
    overflow-y: hidden;
    padding:0 4px;
}
.cardImgContainer {
    width: 188px;
    height: 188px;
}
.cardImgContainer img{
    width: 184px;
    height: 188px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.Arrow {
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    color: black;
}

.arrowRight {
    right: 2%;
}

.arrowLeft {
    left: 2%;
}