.cardBg{
    background-color: rgba(5, 160, 203, 0.592);
    color: black;
}
.Arrws {
    position: absolute;
    top: 50%;
    font-size: 1.5rem;
    color: black;
}

.ArrwRight {
    right: 2%;
}

.ArrwLeft {
    left: 2%;
}